<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>StoreRoom</ion-title>
    
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" >
  <ion-segment value="custom" mode="md" scrollable>
    <ion-segment-button value="custom" routerLink="/storeroom">
      <ion-label>StoreRoom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" routerLink="/add-storeroom">
      <ion-label>Add To Storeroom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="move" routerLink="/move">
      <ion-label>Move to Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="view" routerLink="/view">
      <ion-label>View Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="analytics" routerLink="/analytics">
      <ion-label>Analytics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="slip" routerLink="/slip">
      <ion-label>View Slips</ion-label>
    </ion-segment-button>
  </ion-segment>
  <ion-searchbar [(ngModel)]="searchTerm" placeholder="Search" (ionInput)="filterInventory()"></ion-searchbar>

  <ion-list lines="full">
    <ion-item>
      <ion-label>Filter by Category</ion-label>
      <ion-select [(ngModel)]="selectedCategory" (ionChange)="filterInventory()" interface="popover">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
        <ion-select-option value="Plastics">Plastics</ion-select-option>
        <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Filter by Quantity</ion-label>
      <ion-select [(ngModel)]="selectedQuantityRange" (ionChange)="filterInventory()" interface="popover">
        <ion-select-option value="">All</ion-select-option>
        <ion-select-option value="tooLow">10 => Quantity</ion-select-option>
        <ion-select-option value="runningLow">20 to 11</ion-select-option>
        <ion-select-option value="middle">49 to 21</ion-select-option>
        <ion-select-option value="full">50 = OR Above</ion-select-option>
      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list lines="full">
    <ion-card *ngFor="let item of filteredInventory">
      <ion-card-header>
        <ion-card-title>
          <ion-icon name="basket-outline"></ion-icon>
          {{ item.name }}
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <p>
          <ion-icon name="pricetags-outline"></ion-icon>
          {{ item.category }}
        </p>
        <p>
          <ion-icon name="cube-outline"></ion-icon>
          {{ item.quantity }}
        </p>
        <p>
          <ion-icon name="barcode-outline"></ion-icon>
          {{ item.barcode }}
        </p>
        <p>
          <ion-icon name="calendar-outline"></ion-icon>
          {{ item.dateOfPickup }}
        </p>
        <p>
          <ion-icon name="time-outline"></ion-icon>
          {{ item.timeOfPickup }}
        </p>
        <img class="thumbnail" [src]="item.imageUrl" alt="{{ item.name }} Image">
      </ion-card-content>

      <ion-row>
        <ion-col>
          <ion-button (click)="openModal(item.imageUrl, item.name)" expand="block" color="tertiary"  fill="outline">
            <ion-icon slot="start" name="eye-outline"></ion-icon>
            View
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-card>
  </ion-list>

  <ion-modal [isOpen]="isModalOpen" (didDismiss)="isModalOpen = false">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>{{ modalTitle }}</ion-title>
          <ion-buttons slot="end">
            <ion-button (click)="isModalOpen = false" fill="clear">
              <ion-icon name="close-outline"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <img [src]="selectedImageUrl" alt="Full Image">
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
