<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button routerLink="/home">
        <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Add Inventory Storeroom</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeScanner()">
        <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-segment value="storeroom" mode="md" scrollable>
    <ion-segment-button value="custom" routerLink="/storeroom">
      <ion-label>StoreRoom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="storeroom" routerLink="/add-storeroom">
      <ion-label>Add To Storeroom</ion-label>
    </ion-segment-button>
    <ion-segment-button value="move" routerLink="/move">
      <ion-label>Move to Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="view" routerLink="/view">
      <ion-label>View Store</ion-label>
    </ion-segment-button>
    <ion-segment-button value="analytics" routerLink="/analytics">
      <ion-label>Analytics</ion-label>
    </ion-segment-button>
    <ion-segment-button value="slip" routerLink="/slip">
      <ion-label>View Slips</ion-label>
    </ion-segment-button>
  </ion-segment>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Deliver Inventory to StoreRoom</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label>Type barcode</ion-label>
        <ion-toggle [(ngModel)]="toggleChecked"></ion-toggle>
      </ion-item>

      <ion-row>
        <ion-col size="12" *ngIf="toggleChecked">
          <ion-item>
            <ion-label position="floating">Barcode</ion-label>
            <ion-input type="text" [(ngModel)]="barcode" (ionChange)="searchProductByBarcode()"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="12" *ngIf="!toggleChecked">
          <ion-button color="tertiary"  fill="outline" expand="block" (click)="scanBarcode()">
            <ion-icon color="tertiary" name="barcode-outline"></ion-icon> Scan
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-button color="tertiary"  fill="outline" expand="block" (click)="takePicture()">
            <ion-icon name="camera"></ion-icon> Take Picture
          </ion-button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Item Name</ion-label>
            <ion-input type="text" [(ngModel)]="itemName"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label>Category</ion-label>
            <ion-select [(ngModel)]="itemCategory">
              <ion-select-option value="Cleaning Detergents">Cleaning Detergents</ion-select-option>
              <ion-select-option value="Plastics">Plastics</ion-select-option>
              <ion-select-option value="Cleaning Equipment">Cleaning Equipment</ion-select-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Description</ion-label>
            <ion-textarea [(ngModel)]="itemDescription"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Quantity</ion-label>
            <ion-input type="number" [(ngModel)]="itemQuantity"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Size of Product</ion-label>
            <ion-input type="text" [(ngModel)]="sizeProduct"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Delivery Name</ion-label>
            <ion-input type="text" [(ngModel)]="pickersDetails"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Delivery Email</ion-label>
            <ion-input type="text" [(ngModel)]="pickersDetailsEmail"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Phone Number</ion-label>
            <ion-input type="text" [(ngModel)]="phone"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="12">
          <ion-item>
            <ion-label position="floating">Company</ion-label>
            <ion-input type="text" [(ngModel)]="Cumpany"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-item>
            <ion-label position="fixed">Date of Pickup</ion-label>
            <ion-input type="date" [(ngModel)]="dateOfPickup"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col size="6">
          <ion-item>
            <ion-label position="floating">Time of Pickup</ion-label>
            <ion-input type="time" [(ngModel)]="timeOfPickup"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col size="6">
          <ion-button color="tertiary"  fill="outline" expand="block" (click)="addItem()">Add Item</ion-button>
        </ion-col>
        <ion-col size="6">
          <ion-button color="tertiary"  fill="outline" expand="block" (click)="generateSlip()">Print Slip</ion-button>
        </ion-col>
      </ion-row>
    </ion-card-content>
  </ion-card>
</ion-content>